{{ $contact := .Site.Params.contact }}
{{ "<!-- Contact Section -->" | safeHTML }}

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">

        {{ with $contact.title }}
        <h2 class="section-heading">{{ . | markdownify }}</h2>
        {{ end }}

        {{ with $contact.subtitle }}
        <h3 class="section-subheading text-muted">{{ . | markdownify }}</h3>
        {{ end }}

	<a href="https://suporte.autodefesa.org">
		<button type="submit" value="Submit" class="btn btn-xl">
                {{ print $contact.buttonText }}
	        </button>
	</a>
	{{ with .Site.Params.footer.copyright }}
	<h5 class="copyright">{{ . | markdownify }}
	</h5>
	{{ end }}

	{{ range .Site.Params.footer.quicklinks }}
	<h5 class="copyright">
	<a href="{{ .link }}">{{ .text  | markdownify }}</a>
	</h5>
	{{ end }}

      </div>	
    </div>
  </div>
</section>
